*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    background: #F4F7FF;
}
.cartIcon{
    height: 20px;
}
.navbarContainer{
    height: 15vh;
    width: 1260px;
    margin: auto;
    padding: 20px 0px 20px 0px;

}
.navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menuLinks{
    display: flex;
    justify-content: space-around;
    gap: 50px; 
    align-items: center;   
}
.cartAndText{
    display: flex;
    flex-direction: row;
    gap: 10px;
}









/* Banner Section*/

.heroText {
    font-size: 65px;
}
.customColor{
    color: #E95A08;
    font-weight: bold;
}
.bannerContainer{

    width: 100%;
    height: 60vh;
}
.bannerSection{
    height: 60vh;
    width: 1260px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headinhSection,
.imgSection{
    width: 50%;
}
.heroPara{
    width: 500px;
}








/*Our Plant Section */

.ourPlantContainer{
    width: 100%;
    height: 80vh;
    
}
.ourPlantSection{
    width: 1260px;
    height: 80vh;
    margin: auto;
    padding-top: 50px;
}
.heroHeading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heroHeading p{
    margin-top: 10px;
}
.cardSection{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 50px;
    padding-bottom: 80px;
}
.cards button,
.cards img{
    width: 100%;
}
.cards button{
    background: #E95A08;
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: .5s;
}
.cards button:hover{
    background: #ffe9dc;
    color: #E95A08;
}










/* Shop Section */

.flowerShopContainer{
    height: 80vh;
    width: 100%;
    margin-top: 600px;
}
.shopSection{
    height: 80vh;
    width: 1260px;
    display: flex;
    margin: auto;
    justify-content: space-around;
}
.imgBoxShop,
.textBoxShop{
    width: 50%;
}
.textBoxShop h1{
    margin-bottom: 20px;
}
.textBoxShop li:nth-child(2),
.textBoxShop li:nth-child(3){
    margin-top: 20px;
}
.textBoxShop p{
    color: gray;
    font-size: 17px;
}
.textBoxShop ul{
    margin-left: 20px;
}
.trustBadge{
    position: absolute;
    left: 35%;
    margin-top: -150px;
    z-index: 10;
    background: transparent;
}






/* Deal Section */
.dealContainer{
    height: 80vh;
    width: 100%;
}


.dealSection{
    height: 80vh;
    width: 1260px;
    margin: auto;
}



.box_1{
    height: 450px;
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.box_2{
    height: 450px;
    width: 100%;
}



.deal_boxes{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    margin-top: 100px;
    
}

.childBox{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.childBox h2,a{
    font-size: 20px;
    background-color: transparent;
    color: white;
}
.childBox a{
    text-decoration: underline;
    font-size: 18px;
}
.childOne{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/deal-bloom.png); 
}
.childTwo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/deal-ana.png); 
}
.childThree{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/deal-zabo.png); 
    
}




/* News Letter Section */

.joinContainer{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./assets/news-letter-bg.png); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.joinSection{
    width: 1260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    gap: 20px;
}

.searchBox input{
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    width: 400px;
    padding-left: 20px;
}
.subButton{
    background: #E95A08;
    color: white;
}

.searchBox{
    display: flex;
    flex-direction: row;
}















/* Mobile Responsive*/
@media (width <= 40rem) { 
    .navbarContainer{
    height: 15vh;
    max-width: 100%;
    margin: auto;
    padding: 20px 20px 20px 20px;
 }

 .menuLinks li:nth-child(1),
 .menuLinks li:nth-child(2),
 .menuLinks li:nth-child(3){
    display: none;
 }
 .logo img{
    height: 50px;
 }
 .cartAndText a{
    font-size: 18px;
    font-family: sans-serif;
 }
/*END*/






/*Banner Section*/
.bannerContainer{
    width: 100%;
    height: 70vh;
}
.bannerSection{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding: 0px 0px 30px 0px;
    
}
.heroText {
    font-size: 24px;
    margin-top: 0px;
}
.heroPara{
    width:  auto;
    margin-top: 10px;
}
.headinhSection,
.imgSection{
    width: 100%;
}
.headingSection{
    padding: 0px 20px 0px 20px;
    margin-bottom: 20px;
}
/*END*/







/*Our Plant Section*/
.ourPlantSection{
    width: 100%;
    padding: 0px 20px 0px 20px;
}

.cardSection{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 50px;
    padding-bottom: 80px;
}
.heroHeading p{
    width: auto;
}
.heroHeading h1{
    font-size: 30px;
}
/*END*/









/* Shop Section */
.trustBadge{
   display: none;
}

.flowerShopContainer{
    height: 100vh;
    width: 100%;
    margin-top: 600px;
}

.shopSection{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-around;
}


.flowerShopContainer{
    height: 100vh;
    width: auto;
    margin-top: 800px;
    padding: 50px 20px 50px 20px;
}


.imgBoxShop,
.textBoxShop{
    width: 100%;
}

.textBoxShop{
    margin-top: 50px;
    padding-bottom: 70px;
}


.textBoxShop h1{
    font-size: 30px;
}

.hideOnMobile{
    display: none;
}


/*Deal Section */
.dealContainer{
    height: 80vh;
    width: 100%;
    padding: 0px 20px 50px 20px;
}

.dealSection{
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    
}

.deal_boxes{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 50px;
}


.box_1{
    height: 350px;
    width: 100%;
}

.box_2{
    height: 175px;
    width: 100%;
    
}




/* News Letter Section */

.joinContainer{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(./assets/news-letter-bg.png); 
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.joinSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    gap: 20px;
}


.title p{
    font-size: 20px;
    text-align: center;
}

.subButton{
    padding-right: 20px;
}

.searchBox{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
}
/*END*/